:root {
  --primary-color: #131212;
  --white-color: #fff;
  --yellow-color: #FFD613;
  --secondary-color-yellow: #ffd813c0;
  --yellow-color-rgb: rgb(255,214,19);

  --gradient1: linear-gradient(157deg, #ffd613 0%, #645713 100%);
}