:root {
  --primary-color: #09090B;
  --background-color: #18181B;
  --white-color: #fff;
  --yellow-color: #FFD613;
  --secondary-color-yellow: #ffd813c0;
  --yellow-color-rgb: 255,214,19;
  --text-color: #BFBFBF;

  --gradient1: linear-gradient(157deg, #ffd613 0%, #645713 100%);
}