.advantages {
  position: relative;


  &__background {
    right: -30px;
    mask-image: linear-gradient(to left,
        transparent,
        black 10%,
        black 20%,
        transparent);


    svg {
      display: block;
      width: 600px;
      height: auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    align-self: flex-start;
    font-size: 45px;
    line-height: 94%;
    font-weight: 400;
    max-width: 750px;
    margin-bottom: 90px;
    color: var(--yellow-color)
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }


  &__list-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 100%;
    position: relative;
    padding: 0 20px;
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background: rgba(255, 216, 19, 0.450);
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    }

    &:nth-child(3n)::after {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(255, 216, 19, 0.450);
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    }

    &:nth-child(n + 4)::before {
      display: none;
    }


    &:hover .advantages__item-title{
      transition: all 0.3s ease;
      color: var(--yellow-color);
       transform: translateY(-5px);
    }

      &:hover .advantages__item-description{
        transition: all 0.3s ease;
        color: var(--white-color);
        transform: translateY(-5px);
      }


  }

  &__item-title {
    font-weight: 400;
    font-size: 28px;
    color: var(--secondary-color-yellow);

  }

  &__item-description {
    font-size: 20px;
    line-height: 1.6;
    color: #BFBFBF;
  }


 


}