.advantages {
  position: relative;


  &__background {
    position: absolute;
    right: 0px;
    bottom: -75%;
    width: 25%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.85;
    filter:
      blur(40px) drop-shadow(0 0 90px rgba(255, 214, 19, 0.08));

    svg {
      width: 100%;
      height: 100%;
      display: block;
      transform: scale(1.2);
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background:
        radial-gradient(circle,
          rgba(255, 214, 19, 0.07) 0%,
          rgba(255, 214, 19, 0.025) 40%,
          transparent 75%);
      filter: blur(70px);
      z-index: -1;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    align-self: flex-start;
    font-size: 45px;
    line-height: 94%;
    font-weight: 400;
    max-width: 750px;
    margin-bottom: 90px;
    color: var(--yellow-color)
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }


  &__list-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 100%;
    position: relative;
    padding: 0 20px;
    transition: all 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background: rgba(255, 216, 19, 0.450);
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    }

    &:nth-child(3n)::after {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(255, 216, 19, 0.450);
      box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    }

    &:nth-child(n + 4)::before {
      display: none;
    }


    &:hover .advantages__item-title {
      transition: all 0.3s ease;
      color: var(--yellow-color);
      transform: translateY(-5px);
    }

    &:hover .advantages__item-description {
      transition: all 0.3s ease;
      color: var(--white-color);
      transform: translateY(-5px);
    }

    &:hover {
      background: rgba(255, 214, 19, 0.05);
    }



  }

  &__item-title {
    font-weight: 400;
    font-size: 28px;
    color: var(--secondary-color-yellow);

  }

  &__item-description {
    font-size: 20px;
    line-height: 1.6;
    color: var(--text-color);
  }





}