body {
  font-family: Montserrat, sans-serif;
}

html {
  background-color: var(--primary-color);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1420px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.elipse {
 
  position: absolute;
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
  transform: scale(1.05);
  z-index: 0;
  pointer-events: none;
}